@font-face {
    font-family: titleFont;
    src: url("../fonts/Phosphate-Solid.ttf") format("truetype");
}

body{
	background-color: #ede9e6;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v11/rr0ijB5_2nAJsAoZ6vECXRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v11/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/STBOO2waD2LpX45SXYjQBSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v11/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	background-color: #ede9e6;
}

@media screen and (max-width: 767px) {
    .token-title small{
    	display: none;
	}
}

@media screen and (max-width: 480px) {
    .token-title small{
    	display: none;
    }
    .socialmedia-label .col-xs-6{
    	display: none;
    }
    .socialmedia-label .col-xs-3{
    	display: none;
    }
}

::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/*@media screen and (max-height: 767px) {
}
.dashboard-help{
	height: 900px;
	overflow-y: scroll;
}*/

.margin-fix{
	margin-left: -15px;
}

.rowmediaeach{
	background-color:white; 
	border-style: solid; 
	border-width: 5px; 
	border-color: #ede9e6; 
	height:200px;
}

.container{
	box-shadow: 0 1px 6px;
	-webkit-box-shadow: 0 1px 6px;
	background-color:#fff; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nocolor{
	color: #3097D1 !important;
}
.large-text{
	font-size:70px;
	margin-bottom:20px;
	display: block;
	color:#fff;
}
.button{
	background-color:#FF9621;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
}
a.button{
	text-decoration: none;
	color:#fff;
}
.button:hover{
	background-color:#FCA94C;
}

hr.horizontal-break, hr.break {
    width: 50px;
    margin: 20px auto;
    display: block;
    height: 3px;
    background: #FF9621;
    border: none;
}

.graph{
	padding: 5px;
}

/*** Filter Dashboard ****/

.panel.filterwrapper{
	border:1px solid #1D7FAA !important;
	z-index:2;
	background-color:#FFFFFF;
}

.filterwrapper .col-xs-4:nth-child(4){
	margin-top: -35px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

#formbutton{
	float: right;
    position: relative;
    top: 10px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/*** Navigation ***/

.navbar.navbar-default.navbar-static-top{
	background-color:#1D7FAA;
}

.navbar{
	margin-bottom:0px !important;
	border-bottom:0px !important;
}

.navbar .navbar-brand{
	font-family: titleFont;
	font-size:30px;
	color:#fff !important;
}
.navbar > .container .navbar-brand{
	margin-left:0px !important;
}

ul.nav.navbar-nav.navbar-right li:nth-child(2) a:hover{
	font-weight: bold;
}
ul.nav.navbar-nav.navbar-right li:nth-child(1) a:hover{
	font-weight: bold;
}
ul.dropdown-menu{
  background-color:#1D7FAA;
  border:none !important;
  
}
ul.dropdown-menu li a:hover{
  background-color:#1D7FAA;
  font-weight: bold;
}
ul.nav.navbar-nav.navbar-right a.dropdown-toggle{
  background-color:#1D7FAA !important;
}
ul.nav.navbar-nav a{color:#fff;}
.dropdown-toggle{
	color: #fff !important;
}
/*** Panel ***/

.contentbg{
	background:url("../../public/img/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-size: cover;
	height: calc(100% - 50px);
}
.panel.custompanel{
	background-color:transparent;
}

.panel-default.custompanel{
  border:none;
}

.panel.custompanel .panel-heading{
  color:#fff;
  text-align: center;
  font-size:1.8em;
  font-weight: bold;
  border:none;
  border-top:10px solid #FF9621;
  background-color:rgba(29, 127, 170, 0.8);
  margin-top:40px;
  border-radius: 0px;
}

.panel.custompanel .panel-body{
  background-color:rgba(29, 127, 170, 0.8);
  color:#fff;
}

/*** Instellingen view ***/

.alert-panel{
	padding: 15px;
	border-radius: 5px;
}

.flash-message{
	margin-bottom: -15px;
}

.panel{
	background-color: white;
	padding: 15px;
	border-bottom: 1px solid #045071;
}

.panel-title{
	color: #045071;
	width: 100%;
	border-bottom: 2px solid #EDE9E6;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
	text-align: center;
	font-weight: bold;
}

.panel-subtitle{
	color: #045071;
	width: 100%;
	border-bottom: 2px solid #EDE9E6;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
	text-align: center;
	font-size: 14px;
}

.back-button{
	height: 50px;
	width: 50px;
	margin-bottom: -50px;
	position: relative;
	bottom: 50px;
	float: right;
	background-color: orange;
	background-image: url(../icons/icon-back.png);
	background-repeat: no-repeat;
}

.back-button:hover{
	background-color: white;
	background-image: url(../icons/icon-back-hover.png);
	cursor: pointer;
	border-bottom: 1px solid #045071;
}

.dashboard-options .panel input{
	background-color: #f5f8fa;
}

.dashboard-options .panel select{
	max-width: 30%;
	background-color: #f5f8fa;
}

.dashboard-options .panel-info{
	color: #045071;
}

.dashboard-options .terms{
	width: 100%;
	height: 125px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #f5f8fa;
	overflow-y: scroll;
}

.dashboard-options .btn-danger{
	float: right;
}

.dashboard-options .form-horizontal{
	padding-left: 15px;
}

.socialmedia-label{
	background-color: #338CC8;
	height: 36px;
	color: white;
	padding: 8px;
	overflow: hidden;
	margin-bottom: 5px;
}

.fb img{
	height: 18px;
}

.yt{
	background-color: #C84635;
}

/*** Card panels ***/

.cardswrapper{
	width: 100%;
	height: 100%;
	margin: auto;
	overflow-x: scroll;
	overflow-y: hidden;
}

.card-title{
	color: #045071;
	width: 100%;
	height: 30px;
	border-bottom: 2px solid #EDE9E6;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.card-title img{
	height: 100%;
	float: right;
	position: relative;
	bottom: 30px;
}

.card-title img:hover{
	cursor: pointer;
	opacity: .5;
}

.cardpanel:hover {
	transform: scale(1.05,1.05);
}

.cardpicture{
	text-align: center;
	height: 85px;
	margin: 5px auto;
	margin-bottom: 10px;
	padding-left: 19px;
}

.cardpicture img{
	height: 100%;
}

.myClickState {
  	border-color: lime;
}

.cardpanel{
	background-color: white;
	align-content: center;
	font-size: 80%;
	margin: 15px;
	padding: 15px;
	border-bottom: 1px solid #045071;
	box-shadow: 0px 0px 5px #ddd;
	text-align: left;
    width: 210px;
    height: 340px;
    padding: 5px;
    border-radius: 2px;
	transition: all .2s ease;
}

.arrow{
	position: absolute;
    right: -12px;
    bottom: -70px;
    transform: scale(0.4);
}

.col-md-2:last-child .arrow{
	display: none;
}

.cardtext{
    top: 170px;
    height: 170px;
    margin: 0 10px;
    overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
	padding-right: 5px;
}
.cardstats{
	width: 100%;
    text-align: center;
    padding-top: 3px;
}

.morecontent span {
   display: none;
}
.morelink {
   display: block;
}

/*** Create-project view ***/

.create-project .socialmedia .facebook{
	background-color:#338CC8;
	border: 1px solid #ccd0d2;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100%;
	height: 36px;
	padding: 6px 12px;
}
.create-project .socialmedia .youtube{
	margin-top:15px;
	background-color:#C84635;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100%;
	height: 36px;
	padding: 6px 12px;
    padding-top: 6px;
	overflow: hidden;
	margin-bottom: 5px;
	border: 1px solid white;
	border-radius: 2px;
}

.socialmedia-box:hover{
	opacity: .8;
}

.fb img, .Facebook img{
	height: 18px;
}

.yt, .Youtube{
	background-color: #C84635;
}

/*** Create-project view ***/

.form-row{
	padding: 0 100px 0 110px;
}
/*** Help view ***/
.dashboard-help{
	height: 880px;
	overflow-y: scroll;
}

.dashboard-help .main h3{
	color: #045071;
	width: 100%;
	border-bottom: 2px solid #EDE9E6;
	margin-bottom: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	clear: both;
	font-weight: initial;
	font-size: 18px;
}

.dashboard-help .main h4{
	color: #045071;
	width: 100%;
	border-bottom: 2px solid #EDE9E6;
	margin-bottom: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	clear: both;
	font-size: 14px;
}

.dashboard-help .panel{padding-top: 0;}

.dashboard-help .menu{
	margin-top: 15px;
	list-style: none;
	padding-left: 10px;
}

.dashboard-help ul{list-style: none;}
.dashboard-help .sidebar a{color: #045071;}
.dashboard-help li{
	margin-top: 5px;
	margin-bottom: 5px;
}
/*** Slider ***/

.slider .content{position: absolute;top:80px;width:100%;}
.slider .content .customh2{color:#fff;font-size: 24px;line-height: .3;}
.slider .content > a{display: inline-block;}
.slider img{height:360px;width:100%;}

/*** Icon bar ***/

.icons{
	background-color:#1D7FAA;
	color:#fff;
	padding:20px;
}
.icons .description{
	width:50%;
	display: inline-block;
	text-align: justify;
}
.icons .title{
	font-weight: bold;
	font-size:140%;
	margin-bottom:4px;
}
.icons .icon{
	float:right;
	display: inline-block;
}
.contentrow{
	border:1px solid #000;
}

.smallheader{
	background-color:#FF9621;
	color:#fff;
	height: 10px;
}
.smallheader p{
	line-height: 40px;
	vertical-align: middle;
}
.contentblock1{
	background:url("/Monitool/public/icons/4.png") no-repeat center; 
	padding:60px;
}
.contentblock2{
	background:url("/Monitool/public/icons/5.png") no-repeat center; 
	padding:60px;
}

/*** Footer ***/

.footer{
	height: 100px;
    width: 100%;
    background-color: #1D7FAA;
    border-top: 10px solid #FF9621;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
}
.footer a{
	color:#fff;
}

/*** Dashboard ***/

.dashboard .col-md-1{height: 495px;}

.dashboard .col-md-11{box-sizing: border-box;}

.dashboard .col-md-4{height: 350px;}

.dashboard .col-md-2{height: 200px;}

.dashboard .panel-title{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.dashboard .panel{
	/*margin: 10px;*/
	height: 100%;
	overflow: hidden;
	margin-top:20px;
	padding:15px !important;
}

.dashboard .buttons-filter{
	height: 50px;
	width: 50px;
	float: right;
	background-color: orange;
	margin-top: -15px;
	border-radius: 2px;
	padding: 0;
	background-image: url(../icons/icon-filter.png);
	background-repeat: no-repeat;
	position: relative;
	right: 50px;
	bottom: 27px;
	z-index: 5;
}

.dashboard .buttons-filter:hover{
	background-color: white;
	background-image: url(../icons/icon-filter-hover.png);
	cursor: pointer;
}

.dashboard .buttons-bar{
	margin-left: 2px;
	background-image: url(../icons/icon-bar.png);
}

.dashboard .buttons-bar:hover{
	background-image: url(../icons/icon-bar-hover.png);
}
.dashboard .fixed-height{
	height: 503px;
}

.dashboard .buttons-back{
	position: relative;
	top: -27px;
    left: 104px;
    background-image: url(../icons/icon-back.png);
}

.dashboard .buttons-back:hover{
	background-color: white;
	background-image: url(../icons/icon-back-hover.png);
}
/** Grafiek **/

#chartdiv {
  width : 100%;
  height  : 300px;
  margin-bottom: 15px;
  height  : 420px;
  margin-bottom: 35px;
  margin-left: -15px;
  margin-right: -30px;
}

/*Export knop*/
.export-main{
	bottom: 50px !important;
    left: 25px;
}

.export-main>a{
	background-color: orange !important;
	position: relative !important;
	border-radius: 0px !important;
	width: 50px !important;
	height: 50px !important;
	background-image: url(../icons/icon-export.png) !important;
	box-shadow: none !important;
	border-radius: 2px !important;
}

.export-main>a:hover{
	background-color: white !important;
	background-image: url(../icons/icon-export-hover.png) !important;
}

.amcharts-export-menu-top-right li:hover>ul, .amcharts-export-menu-top-right li.active>ul{
	bottom: -88px;
    right: 5px;
}

.amcharts-export-menu ul{
	position: relative;
}
.amcharts-export-menu li{
	bottom: -50px;
    right: 0px;
}

.amcharts-export-menu{opacity: 1;}
.amcharts-export-menu>ul>li{bottom: 0;}
.export-main>ul>li>ul>li{
	bottom: 0;
	background-color: white;
}
.export-main>ul>li:hover>ul{right: 120px;}
.export-main>ul::after{display: none;}
.export-main>ul>li>a::after{display: none;}


/*Drawing knop*/

.amcharts-export-menu .export-drawing>a{
	background-color: orange !important;
	position: relative !important;
	border-radius: 0px !important;
	width: 50px !important;
	height: 50px !important;
	background-image: url(../icons/icon-draw.png) !important;
	box-shadow: none !important;
	border-radius: 2px !important;
}

.amcharts-export-menu .export-drawing>a:hover{
	background-color: white !important;
	background-image: url(../icons/icon-draw-hover.png) !important;
}

.export-drawing{
	bottom: 50px !important;
    left: 25px;
}

.export-drawing>ul>li>ul>li{
	bottom: 0;
	background-color: white;
}
.export-drawing>ul>li>ul>li>ul>li{
	bottom: 0;
}
.export-drawing>ul>li:hover>ul{right: 120px;}
.export-drawing>ul>li>ul>li:hover>ul{right: 85px;}
.export-drawing>ul::after{display: none;}
.export-drawing>ul>li>a::after{display: none;}

.amcharts-export-canvas{
	top: 34px !important;
}
